{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-sm">
			<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Créer un compte</h2>
		</div>

		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="rounded-md bg-red-50 p-4 mb-4">
					<div class="flex">
						<div class="ml-3">
							<h3 class="text-sm font-medium text-red-800">{{ flash_error }}</h3>
						</div>
					</div>
				</div>
			{% endfor %}

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm, {'attr': {'class': 'space-y-6'}}) }}
			<div>
				{{ form_row(registrationForm.email) }}
			</div>

			<div>
				{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
			</div>

			<div class="flex items-center">
				{{ form_widget(registrationForm.agreeTerms) }}
				{{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions d\'utilisation', {'label_attr': {'class': 'ml-3 block text-sm leading-6 text-gray-300'}}) }}
			</div>

			<div>
				<button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">S'inscrire</button>
			</div>
			{{ form_end(registrationForm) }}

			<p class="mt-10 text-center text-sm text-gray-400">
				Déjà membre ?
				<a href="{{ path('app_login') }}" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Connectez-vous</a>
			</p>
		</div>
	</div>
{% endblock %}
